# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# ===== Java =====
*.class
*.jar
*.war
*.ear
target/
bin/

# ===== C / C++ =====
*.o
*.out
*.exe
*.obj

# ===== IDE / Editor =====
.vscode/
.idea/
*.iml

# ===== Logs =====
*.log
